keras==3.8.0
keras-hub==0.18.1
keras-nlp==0.18.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2
numpy==2.0.2
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
scikit-learn==1.6.1
seaborn==0.13.2
tensorflow==2.18.0
tensorflow-datasets==4.9.8
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
tensorflow-probability==0.25.0
tensorflow-text==2.18.1
tf_keras==2.18.0
